<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{{ title }}{% block subtitle %}{% endblock %}</title>
    <link rel="canonical" href="{{site-url}}{{uri}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% style "bower_components/bootstrap/dist/css/bootstrap.min.css" %}
    {% style "bower_components/fontawesome/css/font-awesome.min.css" %}
    {% style "css/main.css" %}
  </head>
  <body>
    <div class="container body-wrapper">
      <div class="header">
        <div class="lead">
          Renate Horsch
        </div>
        <div class="subheading text-right">
          Praxis für Klassische Homöopathie, Gesprächstherapie, medizinische Heilhypnose
        </div>
      </div>

      <div class="row">
        <!-- Navigation -->
        <div class="col-md-2">
          <nav class="navbar navbar-toggleable-md navbar-light">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-rho mr-auto">
                <li class="nav-item {% if home %}active{% endif %}">
                  <a class="nav-link" href="{{ index-uri }}">Home</a>
                </li>
                {{ page.uri }}
                {% ifequal page.uri "/klassische_homoopathie/" %}foo{% endifequal %}
                {% for nav-page in navbar-pages %}
                <li class="nav-item {% ifequal page.uri nav-page.uri %}active{% endifequal %}">
                  <a class="nav-link" href="{{ nav-page.uri }}">{{ nav-page.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </nav>
          <div class="logo">
            <img class="img-fluid" alt="logo" src="/img/logo_160.png"/>
            <p>
              Heilpraktikerin für Kinder und Erwachsene
            </p>
            <p>
              Sperberstr. 24<br>
              42859 Remscheid<br>
              02191 882197<br>
              info@renate-horsch.de
            </p>
          </div>

        </div> <!-- /Navigation -->

        <!-- Content -->
        <div class="col-md-10">
          <div class="content">
            {% block content %}
            {% endblock %}
          </div>
        </div> <!-- /Content -->
      </div>

    </div>

    {% script "bower_components/jquery/dist/jquery.min.js" %}
    {% script "bower_components/tether/dist/js/tether.min.js" %}
    {% script "bower_components/bootstrap/dist/js/bootstrap.min.js" %}
  </body>
</html>
