<li class="nav-item submenu {% ifequal page.uri "/klassische_homoopathie/" %}active{% endifequal %}">
  <a class="nav-link" href="/klassische_homoopathie">Klassische Homöopathie</a>
</li>
<li class="nav-item submenu {% ifequal page.uri "/kinder_und_homoopathie/" %}active{% endifequal %}">
  <a class="nav-link" href="/kinder_und_homoopathie">Kinder und Homöopathie</a>
</li>
<li class="nav-item submenu {% ifequal page.uri "/psychotherapie/" %}active{% endifequal %}">
  <a class="nav-link" href="/psychotherapie/" %}active">Psychotherapie</a>
</li>
<li class="nav-item submenu {% ifequal page.uri "/medizinische_heilhyptnose/" %}active{% endifequal %}">
  <a class="nav-link" href="/medizinische_heilhyptnose">Med. Heilhyptnose</a>
</li>
<li class="nav-item submenu {% ifequal page.uri "/grundhaltungen_gespraechstherapie/" %}active{% endifequal %}">
  <a class="nav-link" href="/grundhaltungen_gespraechstherapie">Gesprächstherapie nach Rogers</a>
</li>
