.navbar-rho
  list-style-type: none
  padding-left: 0
  li
    width: 120px
    border-bottom: 1px solid $red
    &:last-child
      border-bottom: none
  a
    text-align: center
    text-decoration: none
    font-size: 0.9em
    color: $red
    &:hover
      text-decoration: underline
  .nav-item.active > a
    text-decoration: underline

.navbar
  padding-top: 0.7em

.nav-item.submenu
  background-color: #fcfcfc
  a
    color: #292b2c
    font-size: 0.75em
